# Ignore Node.js modules
node_modules/

# Ignore build output
dist/
build/
*.log
*.tmp
npm-debug.log*

# Ignore environment-specific files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore user-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw??

config.js


package-lock.json


